.pokemon-card {
  padding: 0.8rem;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  background-color: hsl(0, 0%, 80%);
}

.pokemon-card__header {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

.pokemon-card__body {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.pokemon-card__sprite-container {
  flex: 0.5;
}

.pokemon-card__sprite {
  height: 50px;
  width: 50px;
}