* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

i {
  font-style: normal;
}

html,
body,
#root,
#layout {
  height: 100%;
  background-color: hsl(0, 0%, 95%);
}


#layout {
  display: flex;
  flex-direction: column;
}

.body {
  flex: 2;
  background-color: hsl(0, 0%, 93%);
  padding: 2rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  overflow-y: scroll;
  padding-bottom: 50px;
}


.header {
  height: 150px;
  box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.05);
  padding-bottom: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 95%);
  z-index: 2;
}

.head {
  flex: 2;
  display: flex;
  align-items: center;
}

.inner_border {
  height: 6px;
  width: 100%;
  background: linear-gradient(90deg, rgba(188, 115, 224, 1) 0%, rgba(128, 255, 246, 1) 50%, rgba(187, 222, 182, 1) 100%);
  align-self: flex-end;
}

.header h1 {
  font-size: 2.5rem;
  color: hsl(0, 0%, 15%);
  text-align: center;
}

.footer {
  height: 80px;
  padding: 0 6rem 0 6rem;
  border-top: 2px solid grey;
}

.footer nav ul {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.footer nav ul li {
  width: 3rem;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  */

.card-block {
  border-radius: 25px;
  min-width: 70%;
  min-height: 200px;
  background-color: hsl(0, 0%, 95%);
  box-shadow: 5px 5px 20px hsla(0, 0%, 0%, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card-block__menu {
  flex: 1.3;
  display: flex;
  height: 50%;
  align-items: center;
  font-size: 0.7rem;
  font-weight: 700;
  color: hsl(0, 0%, 30%);
  gap: 1rem;
  padding-left: 0.5rem;
  padding: 1.5rem;
}

.card-block__menu__item {
  flex-basis: 15%;
  height: 100%;
  background-color: hsl(0, 0%, 95%);
  box-shadow: 5px 5px 20px hsla(0, 0%, 0%, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 0.5rem;
  align-items: center;
  border-radius: 25px 8px 25px 8px;
}

.card-block__menu__item div {
  position: relative;
  top: -10px;
  border-radius: 10px;
  background-color: hsl(0, 0%, 95%);
  font-size: 2.5rem;
}

.card-block__sub-menu {
  flex: 0.5;
  background-color: hsl(0, 0%, 90%);
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
}

/* -------------- */
.flex {
  display: flex;
  gap: 0.5rem;
}

.flex--tight {
  gap: 0;
}

.flex--column {
  flex-direction: column;
}

.flex--centered {
  justify-content: center;
  align-items: center;
}

.flex--space-between {
  justify-content: space-between;
}

.text--capitalize {
  text-transform: capitalize;
}

.tag {
  background-color: hsl(0, 0%, 85%);
  padding: 2px 5px 2px 5px;
  text-align: center;
  border-radius: 4px;
}

.button {
  border: none;
  background-color: transparent;
}

.button--large-text {
  font-size: 1.5rem;
}

.text--xxs {
  font-size: 0.4rem;
}

/* ------------- */

.separator--vertical {
  width: 4px;
  border-radius: 90px;
  background-color: hsl(0, 0%, 95%);
  box-shadow: inset 2px 1px 1px hsla(0, 0%, 0%, 0.2);
  margin: 0 0.5rem 0 0.5rem;
}

.pokemon-card-collection {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-left: calc(2.5rem + 10%);
  padding-right: 10%;
}

.pokemon-card-collection__card {
  flex-basis: 31%;
  height: 35vh;
  background-color: lightgrey;
  border-radius: 8px;
}

.pokemon-card-collection.pokemon-card-collection--slot {
  gap: 0.4rem;
  width: 100%;
  padding: 0 4% 0 6%;
}

.pokemon-card-collection__card.pokemon-card-collection__card--slot {
  flex-basis: 19%;
  height: 23vh;
  border-radius: 8px;
  box-shadow: inset 2px 4px 5px 2px hsla(0, 0%, 0%, 0.15), inset -2px -4px 5px 2px hsla(0, 0%, 100%, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 700;
  color: hsl(180, 0%, 75%);
  background-color: hsl(0, 0%, 93%);
  overflow: hidden;
}

.pokemon-card {
  font-size: 0.7rem;
  height: 100%;
  width: 100%;
  /* background-color: hsl(0, 0%, 30%); */
  color: black;
  font-weight: normal;
}

.pokemon-card__border {
  background: linear-gradient(to bottom, #ffffff 0%, #cecece 19%, #ffffff 50%, #c4cace 80%, #ffffff 100%);
  padding: 10px;
  height: 100%;
}

.pokemon-card__content {
  height: 100%;
  background-color: #8cc751;
  padding: 0 8px 0 8px;
  display: flex;
  flex-direction: column;
}

.pokemon-card__header {
  position: relative;
  left: -10px;
  right: 10px;
  width: 105%;
  display: flex;
  align-items: baseline;
  gap: 1px;
  font-weight: bold;
}

.pokemon-card__header__stage {
  font-size: 0.4rem;
  background-color: hsl(0, 0%, 95%);
  line-height: 0.6rem;
  vertical-align: middle;
  padding: 0px 5px;
  height: 0.7rem;
  border-radius: 3px;
  text-transform: uppercase;
  align-self: center;
  border: 1px solid hsl(0, 0%, 85%);
  color: hsl(0, 0%, 45%);

}

.pokemon-card__header__name {
  flex: 2;
  font-size: 1rem;
  text-transform: capitalize;
}

.pokemon-card__header__hp {
  font-size: 0.5rem;
}

.pokemon-card__header__hp span {
  font-size: 1rem;
}

.pokemon-card__header__type {}

.pokemon-card__image-container {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid hsl(0, 0%, 80%);
  border-radius: 2px 2px 5px 5px;
  overflow: hidden;
}

.pokemon-card__image {
  flex: 2;
  background-color: lightblue;
  border: 2px solid hsl(0, 0, 0);
  box-shadow: inset 0.5px 0.5px 1px hsla(0, 0%, 0%, 0.5);
}

.pokemon-card__desc {
  width: 100%;
  background-color: hsl(0, 0%, 80%);
  border-top: 2px solid hsl(0, 0%, 80%);
  box-shadow: inset 0.5px 0.5px 1px hsla(0, 0%, 0%, 0.5);
  font-size: 0.3rem;
  text-align: center;
  padding: 1px 0 1px 0;
}

.pokemon-card__moves {
  flex: 2;
  display: flex;
  width: 100%;
  align-items: center;
}

.pokemon-card_move-list {
  flex-basis: 100%;
}

.pokemon-card_move-list__item {
  display: flex;
  align-items: center;
  flex-basis: 100%;
  gap: 10px;
  font-weight: bold;
}

.pokemon-card__footer__bottom {
  font-size: 0.4rem;
  padding-top: 3px;
}

.pokemon-card__description {
  font-size: 0.4rem;
  max-width: 50%;
}

.pokemon-card__rarity {
  font-size: 0.7rem;
}

.pokemon-card_move-list__item>div:nth-of-type(2) {
  flex: 2;
  text-transform: capitalize;
}