@import url('normalize.css');

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: hsl(0, 0%, 92%);
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  background-color: white;
  display: flex;
  padding: 1.5rem;
  border-radius: 15px;
  align-items: stretch;
  gap: 1rem;
  box-shadow: 5px 5px 8px hsl(0, 0%, 80%);
}

.card__title {
  margin: 0 0 0.5rem 0;
  font-weight: 700;
  padding: 0;
}

.card__image {
  width: 70px;
  height: 70px;
  flex-basis: 80px;
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 10px;
}

.card__icon {
  width: 40px;
  min-height: 100%;
  flex-basis: 40px;
  border: 1px solid hsl(0, 0%, 90%);
}

.card__content {
  flex: 1;
}