.progress-bar__container {
  display: flex;
  gap: 5px;
}

.progress-bar__step {
  flex: 1;
  border-radius: 5px;
  background-color: #dae0e9;
  width: 0.65rem;
  height: 1.6rem;
}

.progress-bar__step.progress-bar__step--active {
  background-color: #ffc400;
}