/* weight from 200 to 800 */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
  font-size: 16px;
  box-sizing: border-box;
}

/* Normalize */
html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: 'Plus Jakarta Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Theme */

:root {
  --primary-green: hsl(61, 70%, 52%);
  --primary-ted: hsl(4, 69%, 50%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-slate-100: hsl(202, 86%, 94%);
  --neutral-slate-300: hsl(203, 41%, 72%);
  --neutral-slate-500: hsl(200, 26%, 54%);
  --neutral-slate-700: hsl(200, 24%, 40%);
  --neutral-slate-900: hsl(202, 55%, 16%);
  --input-height: 3rem;
}

/*  */

.button {
  font-weight: bold;
  padding: 1rem 2rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--input-height);
}

.button--primary {
  color: var(--slate-900);
  background-color: var(--primary-green);
}

.button--rounded {
  border-radius: 45px;
}

.button--full-width {
  width: 100%;
}

.button--link {
  height: auto;
  padding: 0;
  font-weight: normal;
  text-decoration: underline;
  color: var(--neutral-slate-700);
  background-color: transparent;
}

.radio-group {
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
}

.radio-group__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.radio-group__item {
  flex: 1;
}

.radio-input-group {
  font-weight: bold;
  color: var(--neutral-slate-700);
  display: flex;
  height: var(--input-height);
  border-radius: 5px;
  border: 1px solid var(--neutral-slate-300);
  width: 100%;
  overflow: hidden;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}

.radio-input-group__label {
  line-height: var(--input-height);
}