@import 'normalize';
@import url('global.css');
@import url('desktop.css') screen and (min-width: 1440px);

.container {
  padding: var(--spacing-5);
  height: 100%;
}

.card {
  border: 1px solid var(--color-grey-950);
  box-shadow: 8px 8px 0 black;

  &--rounded {
    border-radius: 20px;
  }

  &__image {
    max-width: 100%;
    width: auto;
    max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  &__footer {
    display: flex;
    align-items: center;
    gap: var(--spacing-3);
  }

  &__author-picture {
    width: 32px;
    height: 32px;
  }
}

.tag {
  display: inline-block;
  border-radius: 4px;
}